@import '../../../node_modules/material-design-lite/src/shadow/shadow';

@import '../../styles/variables';

.selected {
  @extend .mdl-shadow--8dp;

  position: relative;
  z-index: 1;
}

.calendarDay {
  height: 100%;
}

.calendarDayFill {
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}
