@import '../../../node_modules/material-design-lite/src/shadow/shadow';

@import '../../styles/variables';

.selected {
  @extend .mdl-shadow--6dp;

  position: relative;
  z-index: 1;
  border: solid 2px unquote("rgb(#{$color-primary})");
}

.calendarDay {
  height: 100%;
}

.calendarDayFill {
  display: block;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
