@import '../../styles/variables';

.selected {
  position: relative;
  box-shadow: $simple-shadow;
  z-index: 1;
}

.labels {
  height: 100%;
}

.morning,
.afternoon {
  display: block;
  width: 100%;
  height: 100%;
}
