.printer {
  display: none;
}

.printerTable {
  border-collapse: collapse;
}

.printerCell {
  border: solid 1px #000000;
  text-align: center;
  padding: 0.2rem;
}

@media print {
  .printer {
    display: block;
  }
}
