.calendar {
  display: flex;
  align-items: center;
  justify-content: center;

  td {
    text-align: center;
  }
}

.we {
  color: lightgrey;
}

.selected {
  background: lightgrey;
  outline: 2px lightgrey;
}
