@import '../../../node_modules/material-design-lite/src/card/card';
@import '../../../node_modules/material-design-lite/src/shadow/shadow';
@import '../../../node_modules/material-design-lite/src/grid/grid';

@import '../../styles/colors';
@import '../../styles/variables';

.calendar {
  @extend .mdl-card, .mdl-shadow--2dp;
  @extend .mdl-cell, .mdl-cell--8-col;
}

.calendarBody {
  width: 100%;
  border-collapse: collapse;
  user-select: none;
}

.cell {
  position: relative;
  border: solid 1px $lv-light-grey;
  padding: 0;
  width: 4rem;
  height: 4rem;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
}

.day {
  position: absolute;
  top: 0.1rem;
  left: 0.2rem;
  font-size: 0.8rem;
  z-index: 2;
}

.weekend,
.empty {
  color: lightgrey;
  cursor: auto;
}

.selected {
  position: relative;
  box-shadow: $simple-shadow;
  z-index: 1000;
}

.labels {
  height: 100%;
}

.morning,
.afternoon {
  display: block;
  width: 100%;
  height: 100%;
}
