.loginPage {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
}

.loginError {
  color: red;
  margin-top: 10px;
}
