@import '../../styles/colors';
@import '../../styles/variables';

.appBar {
  display: flex;
  align-items: center;
  margin-bottom: 0.3rem;
  background: $lv-blue;
  padding: 0.5rem;
  height: 3rem;
  color: $lv-black;
  box-sizing: border-box;
  box-shadow: $simple-shadow;
}

.brandName {
  margin: 0;
  padding: 0;
  font-size: 1.3rem;
  font-weight: 100;
}
