@import '../../styles/colors';
@import '../../styles/variables';
@import '../../../node_modules/material-design-lite/src/button/button';

.appBar {
  display: flex;
  align-items: center;
  margin-bottom: 0.3rem;
  background: $lv-blue;
  padding: 0.5rem;
  height: 3rem;
  color: $lv-black;
  box-sizing: border-box;
  box-shadow: $simple-shadow;

  @media print {
    display: none;
  }
}

.brandName {
  margin: 0;
  padding: 0;
  font-size: 1.3rem;
  font-weight: 100;
  flex: 1;
}

.printButton {
  @extend .mdl-button, .mdl-button--raised, .mdl-button--colored;
}
