@import '../../../node_modules/material-design-lite/src/card/card';
@import '../../../node_modules/material-design-lite/src/shadow/shadow';
@import '../../../node_modules/material-design-lite/src/button/button';
@import '../../../node_modules/material-design-lite/src/grid/grid';

.entriesForm {
  @extend .mdl-cell, .mdl-cell--4-col;

  min-height: 0;
  order: 2;
}

.entriesCard {
  @extend .mdl-card, .mdl-shadow--2dp;
  width: 100%;
}

.entriesCard:not(:first-child) {
  margin-top: 1rem;
}

.buttonList {
  @extend .mdl-card__supporting-text;
}

.entryButton {
  @extend .mdl-button;
}

.entryButtonSelected {
  @extend .mdl-button, .mdl-button--colored;
}
